.card-container {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px;
}

.card-icon {
  height: 3em;
  width: 3em;
  margin: 15px;
}
