.container {
  margin-left: 10vw;
  padding: 50px;
  height: 100vh;
  background-color: whitesmoke;
}

.table {
  grid-area: table;
}
/* DASHBOARD */
.grid-container-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px 25px;
  grid-template-areas:
    'CardOne CardTwo CardThree CardFour'
    'Graphs Graphs Graphs Graphs'
    'Sales Sales Sales Sales';
}

.Graphs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 35px 25px;
  grid-template-areas: 'GraphOne GraphTwo GraphThree';
  grid-area: Graphs;
}

.GraphOne {
  grid-area: GraphOne;
}

.GraphTwo {
  grid-area: GraphTwo;
}

.GraphThree {
  grid-area: GraphThree;
}

.Sales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 35px 25px;
  grid-template-areas: 'SalesOrders SalesOrders PurchaseOrders';
  grid-area: Sales;
}

.SalesOrders {
  grid-area: SalesOrders;
}

.PurchaseOrders {
  grid-area: PurchaseOrders;
}

.CardOne {
  grid-area: CardOne;
}

.CardTwo {
  grid-area: CardTwo;
}

.CardThree {
  grid-area: CardThree;
}

.CardFour {
  grid-area: CardFour;
}

/* PRODUCTS */

.grid-container-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px 25px;
  grid-template-areas:
    'ButtonOne ButtonOne ButtonTwo ButtonTwo'
    'ProductCardContainer ProductCardContainer . .'
    'ProductCardContainer ProductCardContainer . .';
}

.ButtonOne {
  grid-area: ButtonOne;
}

.ButtonTwo {
  grid-area: ButtonTwo;
}

.ProductCardContainer {
  grid-area: ProductCardContainer;
}
